<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luna.buylist">
	<resultMap type="CartDTO" id="CartDTO_resultMap">
		<result column="SEQ" property="seq"/>
		<result column="PSEQ" property="pseq"/>
		<result column="PCOUNT" property="pcount"/>
		<result column="SELOPT" property="selOpt"/>
		<result column="PRICE" property="price"/>
		<result column="ID" property="id"/>
		<collection property="image"  ofType="IFDTO">
			<result column="imgname" property="imgname"></result>
		</collection>
		<collection property="pboard" ofType="PBDTO">
			<result column="PTITLE" property="ptitle"></result>
			<result column="PSEQ" property="pseq"></result>
		</collection>
	</resultMap>
	
	<resultMap type="BDDTO" id="BDDTO_resultMap">
		<result column="BDSEQ" property="bdseq"/>
		<result column="PSEQ" property="pseq"/>
		<result column="PCOUNT" property="pcount"/>
		<result column="SELOPT" property="selOpt"/>
		<result column="PRICE" property="price"/>
		<result column="BSEQ" property="bseq"/>
		<collection property="image"  ofType="IFDTO">
			<result column="IMGNAME" property="imgname"></result>
		</collection>
		<collection property="blDTO" ofType="BLDTO">
			<result column="BSEQ" property="bseq"></result>
			<result column="BUYDATE" property="buyDate"></result>
			<result column="TOTALPRICE" property="totalPrice"></result>
			<result column="ADDRESS" property="address"></result>
			<result column="NAME" property="name"></result>
			<result column="PHONE" property="phone"></result>
			<result column="TRACKINGNUM" property="trackingNum"></result>
			<result column="DELSTATUS" property="delStatus"></result>
		</collection>
		<collection property="pboard" ofType="PBDTO">
			<result column="PTITLE" property="ptitle"></result>
			<result column="PSEQ" property="pseq"></result>
		</collection>
	</resultMap>
	
	
	<select id="getAllList" resultType="BLDTO">
		select * from buy_list order by  buydate desc
	</select>
	
	<select id="getListOpt" resultType="BLDTO" parameterType="Map">
		select * from buy_list 
			<choose>
				<when test='toDate!="" and fromDate=="" and delStatus.equals("all")'>
				WHERE BUYDATE > to_date(#{toDate},'YYYY-MM-DD')
				</when>
				<when test='fromDate!="" and toDate=="" and delStatus.equals("all")'>
				<![CDATA[WHERE BUYDATE < to_date(#{fromDate},'YYYY-MM-DD')]]>
				</when>
				<when test='toDate!="" and fromDate==""  and !delStatus.equals("all")'>
				 	WHERE BUYDATE > to_date(#{toDate},'YYYY-MM-DD') and delStatus = #{delStatus}
				</when>
				<when test='fromDate!="" and toDate==""and !delStatus.equals("all")'>
				<![CDATA[WHERE BUYDATE < to_date(#{fromDate},'YYYY-MM-DD') and delStatus = #{delStatus}]]>
				</when>
				<when test='toDate!="" and fromDate!="" and !delStatus.equals("all")'>
					where BUYDATE BETWEEN to_date(#{toDate},'YYYY-MM-DD') and to_date(#{fromDate},'YYYY-MM-DD') AND delStatus = #{delStatus}
				</when> 
				
				<when test='toDate=="" and fromDate=="" and !delStatus.equals("all")'>
				WHERE delStatus = #{delStatus}
				</when>
			</choose>
		order by  buydate desc
	</select>
	
	
	<select id="getBoard" parameterType="int" resultType="BLDTO">
		SELECT BSEQ, ID, BUYDATE, TRACKINGNUM, DELSTATUS, NAME, PHONE, ADDRESS, TOTALPRICE
		FROM BUY_LIST where bseq=#{bseq} 
	</select>
	
	<insert id="insertBoard" parameterType="BLDTO">
		INSERT INTO BUY_LIST
		(BSEQ, ID, BUYDATE, TRACKINGNUM, DELSTATUS, NAME, PHONE, ADDRESS, TOTALPRICE)
		VALUES(buy_list_seq.nextval,#{id},sysdate,#{trackingNum},#{delStatus},#{name},#{phone},#{address}, #{totalPrice})		
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		delete from buy_list
		where bseq =#{bseq}
	</delete>
	
	
	<update id="updateBoard" parameterType="BLDTO">
		update buy_list  SET TRACKINGNUM=#{trackingNum}, DELSTATUS=#{delStatus}
		where bseq=#{bseq}
	</update>
	
	<delete id="mulDelBoard" parameterType="Map">
		DELETE FROM buy_list WHERE BSEQ IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	
	<select id="getMember" parameterType="String" resultType="MDTO">
		select * from member where id =#{id}
	</select>

	<insert id="insertBuyList" parameterType="BLDTO">
		INSERT INTO BUY_LIST
		(BSEQ, ID, BUYDATE, TRACKINGNUM, DELSTATUS, NAME, PHONE, ADDRESS, TOTALPRICE)
		VALUES(BUY_LIST_SEQ.nextval, #{id},sysdate,0,'입금전', #{name}, #{phone}, #{address}, #{totalPrice})
	</insert>
	
	<insert id="insertBuyDetail" parameterType="BDDTO">
			INSERT INTO BUY_DETAIL(BDSEQ, PSEQ, PCOUNT, BSEQ, SELOPT,PRICE)
			VALUES(BUY_DETAIL_SEQ.NEXTVAL,#{pseq},#{pcount},BUY_LIST_SEQ.CURRVAL,#{selOpt},#{price})
	</insert>
	
	<select id="getCart" parameterType="map" resultMap="CartDTO_resultMap">
		 SELECT * FROM CART c ,P_BOARD pb,IMG_FILE if2 
		 WHERE c.Pseq  = pb.pseq AND pb.PSEQ = if2.PSEQ(+)  AND c.id=#{id} AND c.seq=#{seq}
	</select>
	
	
	<select id="getSelCart" parameterType="map" resultType="CartDTO">
	 	select * from cart where seq in
	 	<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</select>
	<delete id="delInCart" parameterType="Map">
		DELETE FROM CART WHERE id=#{id} and SEQ IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	<select id="getList" parameterType="String" resultMap="BDDTO_resultMap" > 
 		 SELECT bd.BDSEQ ,bd.PCOUNT,bd.SELOPT,bl.BUYDATE,bd.PRICE,pb.PTITLE,if2.IMGNAME,bd.pseq FROM BUY_LIST bl ,BUY_DETAIL bd,P_BOARD pb ,IMG_FILE if2 
		 WHERE bl.BSEQ =bd.bseq AND  bl.id =#{id}  AND  pb.pseq = bd.PSEQ  AND pb.PSEQ =if2.PSEQ (+)
		 ORDER BY bl.BUYDATE DESC 
 	</select>
	<select id="getDetail" parameterType="int" resultMap="BDDTO_resultMap">
	SELECT DISTINCT * FROM BUY_DETAIL bd , BUY_LIST bl ,P_BOARD pb ,IMG_FILE if2 
		WHERE bd.BSEQ =(SELECT bl.bseq FROM BUY_DETAIL bd ,BUY_LIST bl 
		WHERE bd.BDSEQ =#{bdseq}  AND bd.BSEQ =bl.BSEQ )  
		AND pb.PSEQ =bd.PSEQ AND if2.PSEQ =pb.PSEQ AND bl.BSEQ =bd.BSEQ 
	</select>
	
	<select id="getDetailByAdmin" parameterType="int" resultMap="BDDTO_resultMap">
	SELECT DISTINCT * FROM BUY_DETAIL bd , BUY_LIST bl ,P_BOARD pb ,IMG_FILE if2 
		WHERE bd.BSEQ = #{bseq}
		AND pb.PSEQ =bd.PSEQ AND if2.PSEQ =pb.PSEQ AND bl.BSEQ =bd.BSEQ 
	</select>
	
	
</mapper>