<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luna.cart">
	<resultMap type="CartDTO" id="Cart_resultMap">
		<result column="SEQ" property="seq"/>
		<result column="id" property="id"/>
		<result column="Pcount" property="pcount"/>
		<result column="selopt" property="selOpt"/>
		<result column="price" property="price"/>
		<collection property="pboard" ofType="PBDTO">
			<result column="PTITLE" property="ptitle"></result>
			<result column="PSEQ" property="pseq"></result>
		</collection>
	</resultMap>
	<select id="getAllList" resultMap="Cart_resultMap" parameterType="String">
		SELECT *
		FROM CART c,p_board p WHERE c.id = #{id}
		ORDER BY c.SEQ DESC
	
	</select>
	
	<select id="countCart" parameterType="CartDTO" resultType="int">
	SELECT count(*)
		FROM CART c 
		WHERE id=#{id} AND pseq=#{pseq} and selopt = #{selOpt}
	</select>
	
	<select id="getPcount" parameterType="CartDTO" resultType="int">
	SELECT pcount
		FROM CART c 
		WHERE id=#{id} AND pseq=#{pseq} and selopt = #{selOpt}
	</select>

	<insert id="insertCart" parameterType="CartDTO">
		INSERT INTO CART (SEQ, ID, PSEQ, PCOUNT,SELOPT,PRICE) 
		VALUES(CART_SEQ.NEXTVAL,#{id}, #{pseq}, #{pcount},#{selOpt},#{price})
	</insert>
	
	<select id ="getCart" resultType="CartDTO" parameterType="int">
		SELECT SEQ, ID, PSEQ, PCOUNT 
		FROM CART
		WHERE seq = #{seq}
 	</select>
	
	<update id ="updateCart" parameterType="CartDTO">
		UPDATE CART SET PCOUNT=#{pcount} 
		WHERE SEQ=#{seq} 
	</update>
	
	<update id ="updateCart2" parameterType="CartDTO">
		UPDATE CART SET PCOUNT=#{pcount} 
		WHERE id=#{id} AND pseq=#{pseq} and selopt = #{selOpt}
	</update>
	<delete id ="deleteCart" parameterType="int">
		DELETE FROM CART 
		WHERE SEQ =#{seq}
	</delete>

	<delete id="mulDel" parameterType="Map">
		DELETE FROM CART WHERE SEQ IN  
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
</mapper>