<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.eboard">
	<resultMap type="EBDTO" id="EBDTO_resultMap">
			<result column="ESEQ" property="eseq"/>
			<result column="ETITLE" property="etitle"/>
			<result column="ECONTENT" property="econtent"/>
			<collection property="image"  ofType="IFDTO">
				<result column="imgname" property="imgname"></result>
			</collection>
	</resultMap>
   <select id="getAllList" resultMap="EBDTO_resultMap">
      select * from E_board eb ,img_file if2
      where eb.eseq = if2.eseq
       order by eb.eseq desc
   </select>

   <insert id="insertboard" parameterType="EBDTO">
      INSERT INTO E_BOARD(ESEQ, ECONTENT, ETITLE)
      VALUES(E_BOARD_SEQ.nextval,#{econtent}, #{etitle})
   </insert>
   
   <select id ="getBoard" resultType="EBDTO" parameterType="int">
      select eseq, econtent, etitle from E_board
      where eseq = #{eseq}
    </select>
   
   <update id ="updateBoard" parameterType="EBDTO">
      UPDATE E_BOARD SET ECONTENT=#{econtent}, ETITLE=#{etitle} WHERE ESEQ=#{eseq}
   </update>
   
   <delete id ="deleteBoard" parameterType="int">
      delete from e_board where eseq =#{eseq}
   </delete>

   <delete id="mulDel" parameterType="Map">
      DELETE FROM e_board WHERE ESEQ IN 
      <foreach collection="chks" item="i" separator="," open="(" close=")">
         #{i}
      </foreach>
   </delete>
   
   <select id="getPagingList" resultMap="EBDTO_resultMap" parameterType="com.luna.board.dtos.PagingDTO">
   		 SELECT * 
		FROM (
			SELECT ROWNUM RN, A.*
				FROM (
						SELECT e.ESEQ ,e.ETITLE ,e.ECONTENT ,i.imgname
						,DENSE_RANK() OVER(PARTITION BY i.eseq ORDER BY i.IMGNAME DESC)AS rk
						FROM E_BOARD e ,IMG_FILE i
						where e.eSEQ = i.eseq(+) 
							) A
						WHERE A.RK = 1
				)
		WHERE RN BETWEEN #{start} and #{end}
   </select>
   
   <insert id="insertImg" parameterType="IFDTO">
  		 INSERT INTO IMG_FILE(IMGNUM, FILESIZE, IMGNAME, ID, PSEQ, RSEQ, ESEQ) values
		(img_file_seq.NEXTVAL,#{filesize},#{imgname},'admin',0,0,E_BOARD_SEQ.CURRVAL)
   </insert>
   
   <update id="updateImg" parameterType="IFDTO">
   	UPDATE LUNA.IMG_FILE
	SET FILESIZE=#{filesize},IMGNAME=#{imgname}
	WHERE IMGNUM=(SELECT DISTINCT IMGNUM FROM IMG_FILE if2 WHERE ESEQ =#{eseq})
   </update>
   
   
   <select id="countBoard" resultType="int">
   select count(*) from e_board
   </select>
</mapper>