<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.member">
	<resultMap type="PBDTO" id="PBDTO_resultMap">
		<result column="PSEQ" property="pseq"/>
		<result column="PDATE" property="pdate"/>
		<result column="PTITLE" property="ptitle"/>
		<result column="PCONTENT" property="pcontent"/>
		<result column="HIT" property="hit"/>
		<collection property="image"  ofType="IFDTO">
			<result column="imgname" property="imgname"></result>
		</collection>
		<collection property="stock" ofType="StockDTO">
			<result column="price" property="price"></result>
		</collection>
	</resultMap>
	<select id="getAllList" resultType="MDTO">
		select id, pwd, email, adr1, adr2, adr3, adr4, birth, sex, phone, joinDate, admin, nickName, name, point
		from Member order by id desc
	</select>
	
	<insert id="insertMember" parameterType="MDTO">
		INSERT INTO MEMBER(id, pwd, email, adr1, adr2, adr3, adr4, birth, sex, phone, joinDate, admin, nickName, name, point)
		VALUES(#{id},#{pwd},#{email}, #{adr1}, #{adr2}, #{adr3}, #{adr4}, #{birth}, #{sex}, #{phone}, sysdate, #{admin}, #{nickName}, #{name}, #{point})
	</insert>
	
	<insert id="insertKMember" parameterType="MDTO">
		INSERT INTO MEMBER(id, pwd, email, adr1, adr2, adr3, adr4, birth, sex, phone, joinDate, admin, nickName, name, point)
		VALUES(#{id},null,#{email}, null, null, null, null, null, #{sex}, null, sysdate, 'kakao', #{nickName}, #{name}, 0)
	</insert>
	
	<select id="getMember" resultType="MDTO" parameterType="STRING">
		select id, pwd, email, adr1, adr2, adr3, adr4, birth, sex, phone, joinDate, admin, nickName, name, point from member
		where id = #{id}
	</select>
	
	<update id="updateMember" parameterType="MDTO">
	UPDATE MEMBER 
	SET PWD=#{pwd}, EMAIL=#{email}, ADR1=#{adr1}, ADR2=#{adr2}, ADR3=#{adr3}, ADR4=#{adr4}, BIRTH=#{birth}, SEX=#{sex}, PHONE=#{phone},  NICKNAME=#{nickName}, NAME=#{name}, POINT=#{point}
	WHERE ID=#{id}
	</update>
	
	<delete id="deleteMember" parameterType="Map">
		DELETE FROM MEMBER WHERE Id =#{id} 
	</delete>

	<delete id="muldelMember" parameterType="Map">
		DELETE FROM MEMBER WHERE ID IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	
	
	<select id ="idChk" resultType="int" parameterType="MDTO">
		SELECT COUNT (*) FROM MEMBER 
		WHERE ID = #{id}
	</select>
	
		<select id ="pwdChk" resultType="int" parameterType="MDTO">
		SELECT COUNT (*) FROM MEMBER 
		WHERE PWD = #{pwd}
	</select>
	
	
	<select id="login" resultType="MDTO" parameterType="MDTO">
		select id,admin, nickname from member where id=#{id} and pwd=#{pwd}
	</select>
	
	<select id="idSearch" resultType="MDTO" parameterType="MDTO">
		select id from member where EMAIL=#{email} and NAME=#{name}
	</select>
	
	<select id="pwdSearch" resultType="MDTO" parameterType="MDTO">
		select pwd from member where Id=#{id} and EMAIL=#{email}
	</select>

	<update id="pwdUpdate" parameterType="MDTO">
		update member set PWD = #{pwd} where EMAIL=#{email}
	</update>

	<!-- 생일자 현재 월 기준으로 월 출력 -->
	<select id="birthMember" resultType="MDTO">
		SELECT * from MEMBER
		WHERE to_char(birth,'MM') = to_char(sysdate,'MM')
	</select>

	<!-- 신규 현재 월 기준으로 월 출력 -->
	<select id="freshMember" resultType="MDTO">
		SELECT * from MEMBER
		WHERE to_char(JOINDATE ,'YYYYMM') = to_char(sysdate,'YYYYMM')
	</select>
	
	<select id="getPagingList" resultMap="PBDTO_resultMap" parameterType="com.luna.board.dtos.PagingDTO">
		 SELECT * 
		FROM (
			SELECT ROWNUM RN, A.*
				FROM (
						SELECT p.PSEQ ,p.PTITLE ,p.PDATE ,p.PCONTENT ,i.IMGNAME ,s.PRICE,p.hit
						FROM p_BOARD p ,IMG_FILE i,STOCK s ,p_category c
						where p.PSEQ = i.pseq(+) AND p.PSEQ =s.PSEQ  AND s.main = 'true' AND s.cnum = c.cnum 
						<choose>
							<when test="sorting==1">
								AND to_char(pdate,'MM') >= to_Char(sysdate,'MM') -1
							</when>
							<when test="sorting==2">
								AND s.cnum = c.cnum AND c.ptype = '귀걸이'
							</when>
							<when test="sorting==3">
								AND s.cnum = c.cnum AND c.ptype = '목걸이'
							</when>
							<when test="sorting==4">
								AND s.cnum = c.cnum AND c.ptype = '반지'
							</when>
							<when test="sorting==5">
								AND s.cnum = c.cnum AND c.ptype = '팔찌'
							</when>
							<when test="sorting==6">
								AND s.cnum = c.cnum AND c.ptype = '기타'
							</when>
						</choose>
						<choose>
							<when test="arrayNum==1">
								ORDER BY id desc 
							</when>
							<when test="arrayNum==2">
								ORDER BY id desc
							</when>
							
						</choose>
						
						) A
				)
		WHERE RN BETWEEN #{start} and #{end}
	</select>
	
</mapper>









