<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.member">

	<select id="getAllList" resultType="MDTO">
		select id, pwd, email, email_chk, address, birth, sex, phone, joinDate, admin, nickName, name, point
		from Member
	</select>

	<insert id="insertMember" parameterType="MDTO">
		INSERT INTO MEMBER(id, pwd, email, email_chk, address, birth, sex, phone, joinDate, admin, nickName, name, point)
		VALUES(#{id},#{pwd},#{email}, #{email_chk}, #{address}, #{birth}, #{sex}, #{phone}, sysdate, #{admin}, #{nickName}, #{name}, #{point})
	</insert>

	<select id="getMember" resultType="MDTO" parameterType="STRING">
		select id, pwd, email, email_chk, address, birth, sex, phone, joinDate, admin, nickName, name, point from member
		where id = #{id}
	</select>
	
	<update id="updateMember" parameterType="MDTO">
	UPDATE MEMBER 
	SET PWD=#{pwd}, EMAIL=#{email}, EMAIL_CHK=#{email_chk}, ADDRESS=#{address}, BIRTH=#{birth}, SEX=#{sex}, PHONE=#{phone},  NICKNAME=#{nickName}, NAME=#{name}, POINT=#{point}
	WHERE ID=#{id}
	</update>
	

	<delete id="muldelMember" parameterType="Map">
		DELETE FROM MEMBER WHERE ID IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	
	
	<select id ="idChk" resultType="int" parameterType="MDTO">
		SELECT COUNT (*) FROM MEMBER 
		WHERE ID = #{id}
	</select>
	
		<select id ="pwdChk" resultType="int" parameterType="MDTO">
		SELECT COUNT (*) FROM MEMBER 
		WHERE PWD = #{pwd}
	</select>
	

</mapper>









