<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.member">

	<select id="getAllList" resultType="MDTO">
		select id, pwd, email, adr1, adr2, adr3, adr4, birth, sex, phone, joinDate, admin, nickName, name, point
		from Member order by id desc
	</select>

	<insert id="insertMember" parameterType="MDTO">
		INSERT INTO MEMBER(id, pwd, email, adr1, adr2, adr3, adr4, birth, sex, phone, joinDate, admin, nickName, name, point)
		VALUES(#{id},#{pwd},#{email}, #{adr1}, #{adr2}, #{adr3}, #{adr4}, #{birth}, #{sex}, #{phone}, sysdate, #{admin}, #{nickName}, #{name}, #{point})
	</insert>

	<select id="getMember" resultType="MDTO" parameterType="STRING">
		select id, pwd, email, adr1, adr2, adr3, adr4, birth, sex, phone, joinDate, admin, nickName, name, point from member
		where id = #{id}
	</select>
	
	<update id="updateMember" parameterType="MDTO">
	UPDATE MEMBER 
	SET PWD=#{pwd}, EMAIL=#{email}, ADR1=#{adr1}, ADR2=#{adr2}, ADR3=#{adr3}, ADR4=#{adr4}, BIRTH=#{birth}, SEX=#{sex}, PHONE=#{phone},  NICKNAME=#{nickName}, NAME=#{name}, POINT=#{point}
	WHERE ID=#{id}
	</update>
	
	<delete id="deleteMember" parameterType="Map">
		DELETE FROM MEMBER WHERE Id =#{id} 
	</delete>

	<delete id="muldelMember" parameterType="Map">
		DELETE FROM MEMBER WHERE ID IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	
	
	<select id ="idChk" resultType="int" parameterType="MDTO">
		SELECT COUNT (*) FROM MEMBER 
		WHERE ID = #{id}
	</select>
	
		<select id ="pwdChk" resultType="int" parameterType="MDTO">
		SELECT COUNT (*) FROM MEMBER 
		WHERE PWD = #{pwd}
	</select>
	
	
	<select id="login" resultType="MDTO" parameterType="MDTO">
		select id,admin, nickname from member where id=#{id} and pwd=#{pwd}
	</select>
	
	<select id="idSearch" resultType="MDTO" parameterType="MDTO">
		select id from member where EMAIL=#{email} and NAME=#{name}
	</select>
	
	<select id="pwdSearch" resultType="MDTO" parameterType="MDTO">
		select pwd from member where Id=#{id} and EMAIL=#{email}
	</select>

	<update id="pwdUpdate" parameterType="MDTO">
		update member set PWD = #{pwd} where EMAIL=#{email}
	</update>

</mapper>









