<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.luna.pboard">
	<resultMap type="PBDTO" id="PBDTO_resultMap">
		<result column="PSEQ" property="pseq"/>
		<result column="PDATE" property="pdate"/>
		<result column="PTITLE" property="ptitle"/>
		
		<result column="PCONTENT" property="pcontent"/>
		<result column="HIT" property="hit"/>
		<collection property="image"  ofType="IFDTO">
			<result column="imgname" property="imgname"></result>
		</collection>
		<collection property="stock" ofType="StockDTO">
			<result column="price" property="price"></result>
		</collection>
	</resultMap>
	<resultMap type="RBDTO" id="RBDTO_resultMap">
		<result column="RSEQ" property="rseq"/>
		<result column="PAR_RSEQ" property="par_rseq"/>
		<result column="RTITLE" property="rtitle"/>
		<result column="RCONTENT" property="rcontent"/>
		<result column="id" property="id"/>
		<result column="STARRANK" property="starrank"/>
		<collection property="image"  ofType="IFDTO">
			<result column="imgname" property="imgname"></result>
		</collection>
		<collection property="pboard" ofType="PBDTO">
			<result column="PTITLE" property="ptitle"></result>
			<result column="PSEQ" property="pseq"></result>
		</collection>
	</resultMap>
	<resultMap type="EBDTO" id="EBoard_resultMap">
		<result column="ESEQ" property="eseq"></result>
		<collection property="image"  ofType="IFDTO">
			<result column="imgname" property="imgname"></result>
		</collection>
	</resultMap>
	
	<resultMap type="Map" id="StarRank_resultMap">
		<result column="STARRANK" property="starrank"></result>
		<result column="count" property="count"></result>
	</resultMap>
	
	<select id="getAllList" resultType="PBDTO" parameterType="String">
		select pb.pseq,pb.pcontent,pb.pdate,pb.ptitle,pb.hit 
		FROM P_BOARD pb ,STOCK s ,P_CATEGORY pc 
		WHERE pb.PSEQ =s.PSEQ  AND pc.CNUM =s.CNUM and main='true'
		<choose>
			<when test="select=='귀걸이'">and pc.ptype='귀걸이'</when>
			<when test="select=='목걸이'">and pc.ptype='목걸이'</when>
			<when test="select=='반지'">and pc.ptype='반지'</when>
			<when test="select=='all'"></when>
		</choose>
		order by pb.pseq desc
	</select>
	
	<select id="getBoard" resultType="PBDTO" parameterType="int">
		select pseq,pcontent,pdate,ptitle,hit from P_board  where pseq= #{pseq} order by pseq desc
	</select>

	<insert id="insertboard" parameterType="PBDTO">
		INSERT INTO P_BOARD(PSEQ, PCONTENT, PDATE, PTITLE,hit)
		VALUES(P_BOARD_SEQ.nextval,#{pcontent},sysdate, #{ptitle},0)
	</insert>
	
	<select id ="getPBoard" resultMap="PBDTO_resultMap" parameterType="int">
		SELECT  p.pseq,p.PCONTENT,p.pdate,p.ptitle,s.price,p.hit,if2.imgname from P_board p,stock s,img_file if2
		where p.pseq = #{pseq} and p.pseq = s.pseq and s.main = 'true' AND if2.PSEQ =p.PSEQ
 	</select>
	
	<update id ="updateBoard" parameterType="PBDTO">
		UPDATE P_BOARD SET PCONTENT=#{pcontent},  PTITLE=#{ptitle} WHERE PSEQ=#{pseq}
	</update>
	
	<delete id ="deleteBoard" parameterType="int">
		delete from p_board where pseq =#{pseq}
	</delete>

	<delete id="mulDel" parameterType="Map">
		DELETE FROM p_board WHERE PSEQ IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	
	<select id="countBoard" resultType="int"  parameterType="String">
		select count(*) from p_board p,stock s ,p_category c
		where  p.PSEQ =s.PSEQ  AND s.main = 'true' AND s.cnum = c.cnum
		<choose>
			<when test="sorting==1">
				AND to_char(pdate,'MM') >= to_Char(sysdate,'MM') -1
			</when>
			<when test="sorting==2">
				 AND c.ptype = '귀걸이'
			</when>
			<when test="sorting==3">
				AND c.ptype = '목걸이'
			</when>
			<when test="sorting==4">
				 AND c.ptype = '반지'
			</when>
			<when test="sorting==5">
				 AND c.ptype = '팔찌'
			</when>
			<when test="sorting==6">
				 AND c.ptype = '기타'
			</when>
		</choose>
	</select>
	
	
	<select id="getPagingList" resultMap="PBDTO_resultMap" parameterType="com.luna.board.dtos.PagingDTO">
		 SELECT * 
		FROM (
			SELECT ROWNUM RN, A.*
				FROM (
						SELECT p.PSEQ ,p.PTITLE ,p.PDATE ,p.PCONTENT ,i.IMGNAME ,s.PRICE,p.hit
						FROM p_BOARD p ,IMG_FILE i,STOCK s ,p_category c
						where p.PSEQ = i.pseq(+) AND p.PSEQ =s.PSEQ  AND s.main = 'true' AND s.cnum = c.cnum 
						<choose>
							<when test="sorting==1">
								AND to_char(pdate,'MM') >= to_Char(sysdate,'MM') -1
							</when>
							<when test="sorting==2">
								AND s.cnum = c.cnum AND c.ptype = '귀걸이'
							</when>
							<when test="sorting==3">
								AND s.cnum = c.cnum AND c.ptype = '목걸이'
							</when>
							<when test="sorting==4">
								AND s.cnum = c.cnum AND c.ptype = '반지'
							</when>
							<when test="sorting==5">
								AND s.cnum = c.cnum AND c.ptype = '팔찌'
							</when>
							<when test="sorting==6">
								AND s.cnum = c.cnum AND c.ptype = '기타'
							</when>
						</choose>
						<choose>
							<when test="arrayNum==1">
								ORDER BY  p.pdate DESC 
							</when>
							<when test="arrayNum==2">
								ORDER BY  s.price ASC
							</when>
							<when test="arrayNum==3">
								ORDER BY  s.price DESC
							</when>
							<when test="arrayNum==4">
								ORDER BY  p.hit desc
							</when>
							
						</choose>
						
						) A
				)
		WHERE RN BETWEEN #{start} and #{end}
	</select>
	
	<select id="getImage" parameterType="int" resultType="IFDTO">
		select imgname from img_file where pseq=#{pseq}
	</select>
	
	<select id="getRboard" parameterType="int" resultMap="RBDTO_resultMap">
		SELECT *
		FROM R_BOARD rb ,IMG_FILE if2 
		WHERE rb.RSEQ =if2.RSEQ(+) AND rb.pseq = #{pseq} order by rb.rseq desc
	</select>
	
	<select id="getQboard" parameterType="int" resultType="QBDTO">
		select * from q_board where pseq=#{pseq}  order by qseq desc
	</select>
	
	<select id="getAvgRank" parameterType="int" resultType="String">
			select avg(starrank) from r_board where pseq=#{pseq}
	</select>
	
	<select id="countStarrank" parameterType="int" resultMap="StarRank_resultMap">
		SELECT STARRANK,count(starrank)as count FROM r_board WHERE pseq=#{pseq} GROUP BY STARRANK  order by starrank asc
	</select>
	
	<update id="clearStock" parameterType="int">
		update Stock set pseq = 0
		where pseq = #{pseq}
	</update>
	
	<update id="updateStock" parameterType="Map">
		UPDATE STOCK SET pseq
		<choose>
		<when test="pseq!=0"> =#{pseq}</when>
		<when test="pseq==0">=p_board_seq.currval</when>
		</choose>
		, main = #{main}
				WHERE pnum = #{pnum}
	</update>
	<select id="count" parameterType="int" resultType="int">
		SELECT count(starrank) FROM r_board WHERE pseq=#{pseq} 
	</select>
	
	<select id="getCategory" parameterType="map" resultType="PCDTO">
		select * from p_category where cnum in <foreach close=")" open="(" separator="," item="i" collection="chk">#{i} </foreach>
	</select>
	
	<select id="getOption" parameterType="int" resultType="PODTO">
		 select * from p_option where pseq=#{pseq}
	</select>
	<delete id="deleteOption" parameterType="int">
		DELETE FROM P_OPTION WHERE pseq = #{pseq}
	</delete>
	
	<insert id="insertoption" parameterType="PODTO">
		INSERT INTO P_OPTION VALUES(P_OPTION_SEQ.NEXTVAL,
		<if test="pseq==0">P_BOARD_SEQ.CURRVAL,</if>
		<if test="pseq!=0">#{pseq},</if>
		#{otitle},#{ocontent},#{ovalue},#{necessary})
	</insert>
	
	
	
	<insert id="insertimgFile" parameterType="IFDTO">
		INSERT INTO IMG_FILE(IMGNUM, FILESIZE, IMGNAME, ID, PSEQ, RSEQ, ESEQ) values
		(img_file_seq.NEXTVAL,#{filesize},#{imgname},'admin',P_BOARD_SEQ.CURRVAL,0,0)	
	</insert>
	
	<update id="boardHit" parameterType="int">
		update P_BOARD set
		HIT = HIT+1
		where pseq = #{pseq}
	</update>
	
	<select id="getAdr" parameterType="String" resultType="MDTO">
		select * from member where id=#{id}
	</select>
	
	<select id="searchId" parameterType="Map" resultType="int">
		SELECT distinct nvl(pseq,0) FROM  (SELECT pseq FROM 
		BUY_LIST bl ,BUY_DETAIL bd 
		WHERE bl.BSEQ =bd.BSEQ  AND bl.ID =#{id} AND bd.PSEQ = #{pseq}
		
		UNION ALL 
		
		SELECT null as pseq 
		FROM dual 
		) WHERE pseq IS NOT NULL OR rownum=1
	</select>
	
	<select id="getListType" parameterType="String" resultType="StockDTO">
		select s.PNUM, s.PNAME, s.SCOUNT, s.COST, s.CNUM, s.PCONTENT, s.PRICE, s.PSEQ, s.MAIN from stock s ,p_category c 
		where s.cnum = c.cnum  <if test='ptype!="all"'>and c.ptype = #{ptype}</if> 
	</select>
	
	<select id="getStock" parameterType="int" resultType="StockDTO">
		select s.PNUM, s.PNAME, s.SCOUNT, s.COST, s.CNUM, s.PCONTENT, s.PRICE, s.PSEQ, s.MAIN from stock s 
		where s.pseq = #{pseq}
	</select>
	
	<select id="getEboard" parameterType="com.luna.board.dtos.PagingDTO" resultMap="EBoard_resultMap">
			  SELECT * 
		FROM (
			SELECT ROWNUM RN, A.*
				FROM (
					SELECT eb.ESEQ,if2.IMGNAME FROM E_BOARD eb,IMG_FILE if2 
					WHERE eb.ESEQ = if2.ESEQ
					ORDER BY eb.eseq DESC 
		 	) A
				)
		WHERE RN BETWEEN #{start} and #{end}
	</select>
	
	<select id="showAnsR" parameterType="int" resultType="RBDTO">
		SELECT * FROM R_BOARD rb  WHERE PAR_RSEQ =#{rseq}
	</select>
	
	<select id="showAnsQ" parameterType="int" resultType="QBDTO">
		SELECT * FROM Q_BOARD rb  WHERE PAR_QSEQ =#{qseq}
	</select>
</mapper>









