<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.luna.pboard">
	<resultMap type="PBDTO" id="PBDTO_resultMap">
		<result column="PSEQ" property="pseq"/>
		<result column="PDATE" property="pdate"/>
		<result column="PTITLE" property="ptitle"/>
		<result column="PCONTENT" property="pcontent"/>
		<collection property="image"  ofType="IFDTO">
			<result column="imgname" property="imgname"></result>
		</collection>
		<collection property="stock" ofType="StockDTO">
			<result column="price" property="price"></result>
		</collection>
	</resultMap>
	
	<select id="getAllList" resultType="PBDTO">
		select pseq,pcontent,pdate,ptitle from P_board order by pseq desc
	</select>
	
	<select id="getBoard" resultType="PBDTO" parameterType="int">
		select pseq,pcontent,pdate,ptitle from P_board order by pseq desc where pseq= #{pseq}
	</select>

	<insert id="insertboard" parameterType="PBDTO">
		INSERT INTO P_BOARD(PSEQ, PCONTENT, PDATE, PTITLE)
		VALUES(P_BOARD_SEQ.nextval,#{pcontent},sysdate, #{ptitle})
	</insert>
	
	<select id ="getPBoard" resultMap="PBDTO_resultMap" parameterType="int">
		SELECT  p.pseq,p.PCONTENT,p.pdate,p.ptitle,s.price from P_board p,stock s
		where p.pseq = #{pseq} and p.pseq = s.pseq
 	</select>
	
	<update id ="updateBoard" parameterType="PBDTO">
		UPDATE P_BOARD SET PCONTENT=#{pcontent},  PTITLE=#{ptitle} WHERE PSEQ=#{pseq}
	</update>
	
	<delete id ="deleteBoard" parameterType="int">
		delete from p_board where pseq =#{pseq}
	</delete>

	<delete id="mulDel" parameterType="Map">
		DELETE FROM p_board WHERE PSEQ IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	
	<select id="countBoard" resultType="int" >
		select count(*) from p_board
	</select>
	
	
	<select id="getPagingList" resultMap="PBDTO_resultMap" parameterType="com.luna.board.dtos.PagingDTO">
		 SELECT * 
		FROM (
			SELECT ROWNUM RN, A.*
				FROM (
						SELECT DISTINCT p.PSEQ ,p.PTITLE ,p.PDATE ,p.PCONTENT ,i.IMGNAME ,s.PRICE
						FROM p_BOARD p ,IMG_FILE i,STOCK s 
						where p.PSEQ = i.pseq(+) AND p.PSEQ =s.PSEQ 
						<choose>
							<when test="arrayNum==1">
								ORDER BY  p.pdate DESC 
							</when>
							<when test="arrayNum==2">
								ORDER BY  s.price ASC
							</when>
							<when test="arrayNum==3">
								ORDER BY  s.price DESC
							</when>
							<when test="arrayNum==4">
								ORDER BY  p.pseq asc
							</when>
						</choose>
						
						) A
				)
		WHERE RN BETWEEN #{start} and #{end}
	</select>
	
	<select id="getImage" parameterType="int" resultType="IFDTO">
		select imgname from img_file where pseq=#{pseq}
	</select>
	
	<select id="getRboard" parameterType="int" resultType="RBDTO">
		select * from r_board where pseq=#{pseq}
	</select>
	
	<select id="getQboard" parameterType="int" resultType="QBDTO">
		select * from q_board where pseq=#{pseq}
	</select>
	
	<select id="getAvgRank" parameterType="int" resultType="double">
			select avg(starrank) from r_board where pseq=#{pseq}
	</select>
	
	<select id="countStarrank" parameterType="int" resultType="Integer">
		SELECT count(starrank) FROM r_board WHERE pseq=#{pseq} GROUP BY STARRANK 
	</select>
	
	<update id="updateStock" parameterType="Map">
		UPDATE STOCK SET pseq=p_board_seq.currval
		WHERE pnum in <foreach close=")" open="(" separator="," item="i" collection="pnum">#{i} </foreach>
	</update>
	
	<select id="getCategory" parameterType="map" resultType="PCDTO">
		select * from p_category where cnum in <foreach close=")" open="(" separator="," item="i" collection="chk">#{i} </foreach>
	</select>
</mapper>









