<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.poption">

	<select id="getAllList" resultType="PODTO">
		select oseq, pseq, otitle, ocontent
		from p_option
	</select>

	<insert id="insertPoption" parameterType="PODTO">
		INSERT INTO p_option(oseq, pseq, otitle, ocontent)
		VALUES(P_Option_SEQ.nextval, NULL,#{otitle}, #{ocontent})
	</insert>

	<select id="getPoption" resultType="PODTO" parameterType="STRING">
		select oseq, pseq, otitle, ocontent 
		from p_option
		where oseq = #{oseq}
	</select>
	
	<update id="updatePoption" parameterType="PODTO">
	UPDATE p_option 
	SET otitle=#{otitle}, ocontent=#{ocontent}
	WHERE oseq=#{oseq}
	</update>
	

	<delete id="muldelOption" parameterType="Map">
		DELETE FROM P_OPTION
		WHERE oseq IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	

</mapper>









