<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.rboard">

	<select id="getAllList" resultType="RBDTO">
		select LEVEL, rseq, par_rseq, LPAD(' ', 4*(LEVEL-1)) || rtitle rtitle, rcontent, pseq, id, starrank from R_board
		start with par_rseq=0
		connect by prior rseq=par_rseq
		order siblings by rseq desc
	</select>

	<insert id="insertboard" parameterType="RBDTO">
		INSERT INTO R_BOARD(rseq, rtitle, rcontent, pseq, id, starrank, par_rseq)
		VALUES(R_BOARD_SEQ.nextval, #{rtitle}, #{rcontent}, NULL, NULL, #{starrank}, #{par_rseq})
	</insert>
	
	<select id ="getBoard" resultType="RBDTO" parameterType="int">
		select rseq, rtitle, rcontent, rseq, id, starrank, par_rseq from R_board
		where rseq = #{rseq}
 	</select>
 	
 	<!-- 댓글 입력 -->
	<insert id="insertReply" parameterType="RBDTO">
		insert into R_BOARD values(R_BOARD_SEQ.nextval, #{board_no}, #{id}, sysdate, #{reply_content})
	</insert>
 	
 	select LEVEL, qseq, par_qseq, LPAD(' ', 4*(LEVEL-1)) || qtitle qtitle, qcontent, pseq, id from Q_board
		start with par_qseq=0
		connect by prior qseq=par_qseq
		order siblings by qseq DESC
 	
 	
	<update id ="updateBoard" parameterType="RBDTO">
		UPDATE R_BOARD SET RCONTENT=#{rcontent},  RTITLE=#{rtitle} , STARRANK=#{starrank} WHERE RSEQ=#{rseq}
	</update>
	
	<delete id ="deleteBoard" parameterType="int">
		delete from r_board where rseq =#{rseq}
	</delete>
	
	<delete id="mulDel" parameterType="Map">
		DELETE FROM r_board WHERE RSEQ IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
</mapper>









