<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.rboard">

	<select id="getAllList" resultType="RBDTO">
		select rseq, rtitle, rcontent, pseq, id, starrank, par_rseq from R_board
	</select>

	<insert id="insertboard" parameterType="RBDTO">
		INSERT INTO R_BOARD(RSEQ, RTITLE, RCONTENT, PSEQ, ID, STARRANK, PAR_RSEQ)
		VALUES(R_BOARD_SEQ.nextval, #{RTITLE}, #{RCONTENT}, NULL, NULL, #{STARRANK}, #{PAR_RSEQ})
	</insert>
	
	<select id ="getBoard" resultType="RBDTO" parameterType="int">
		select rseq, rtitle, rcontent, rseq, id, starrank, par_rseq from R_board
		where rseq = #{rseq}
 	</select>
 	
	<update id ="updateBoard" parameterType="RBDTO">
		UPDATE R_BOARD SET RCONTENT=#{rcontent},  RTITLE=#{rtitle} WHERE RSEQ=#{rseq}
	</update>
	
	<delete id ="deleteBoard" parameterType="int">
		delete from r_board where rseq =#{rseq}
	</delete>
	
	<delete id="mulDel" parameterType="Map">
		DELETE FROM r_board WHERE RSEQ IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	
</mapper>









