<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.stock">

	<select id="getAllList" resultType="StockDTO">
		SELECT PNUM, PNAME, SCOUNT, COST, CNUM, PCONTENT, PRICE, PSEQ
		FROM STOCK
	</select>
	
	<insert id="insertStock" parameterType="StockDTO">
		INSERT INTO STOCK
		(PNUM, PNAME, SCOUNT, COST, CNUM, PCONTENT, PRICE, PSEQ)
		VALUES(STOCK_SEQ.NEXTVAL, #{pname}, #{scount}, #{cost}, null, #{pcontent}, #{price}, null)
	</insert>
	
	<select id="getStock" resultType="StockDTO" parameterType="int">
		SELECT PNUM, PNAME, SCOUNT, COST, CNUM, PCONTENT, PRICE, PSEQ
		FROM STOCK
		WHERE pnum=#{pnum}	
	</select>
	
	<update id ="updateStock" parameterType="StockDTO">
		UPDATE STOCK
		SET PNAME=#{pname}, SCOUNT=#{scount}, COST=#{cost}, CNUM=#{cnum}, PCONTENT=#{pcontent}, PRICE=#{price}, PSEQ=#{pseq}
		WHERE PNUM=#{pnum}		
	</update>
	
	<delete id ="deleteStock" parameterType="int">
		DELETE FROM STOCK
		WHERE PNUM=#{pnum}		
	</delete>
	
	<delete id="mulDel" parameterType="Map">
		DELETE FROM STOCK WHERE PNUM IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>

</mapper>









