<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.stock">

	<select id="getAllList" resultType="StockDTO">
		SELECT PNUM, PNAME, SCOUNT, COST, CNUM, PCONTENT, PRICE, PSEQ,MAIN
		FROM STOCK
		ORDER BY PNUM DESC 
	</select>
	
	<select id="getStock" resultType="StockDTO" parameterType="int">
		SELECT PNUM, PNAME, SCOUNT, COST, CNUM, PCONTENT, PRICE, PSEQ, MAIN
		FROM STOCK
		WHERE PNUM=#{pnum}	
	</select>
	
	<insert id="insertStock" parameterType="StockDTO">
		INSERT INTO STOCK
		(PNUM, PNAME, SCOUNT, COST, CNUM, PCONTENT, PRICE, PSEQ,MAIN)
		VALUES(STOCK_SEQ.NEXTVAL, #{pname}, #{scount}, #{cost},#{cnum}, #{pcontent}, #{price}, null,null)
	</insert>
	
	<insert id="stockInsert">
		INSERT INTO STOCK
		VALUES(STOCK_SEQ.NEXTVAL, #{pname}, #{scount}, #{cost}, #{cnum}, #{pcontent}, #{price}, null,null)
	</insert>
	
	<update id ="updateStock" parameterType="StockDTO">
		UPDATE STOCK
		SET PNAME=#{pname}, SCOUNT=#{scount}, COST=#{cost}, PCONTENT=#{pcontent}, PRICE=#{price}
		WHERE PNUM=#{pnum}		
	</update>
	
	<delete id ="deleteStock" parameterType="int">
		DELETE FROM STOCK
		WHERE PNUM=#{pnum}		
	</delete>
	
	<delete id="mulDel" parameterType="Map">
		DELETE FROM STOCK WHERE PNUM IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
	
	<select id="getCnum" parameterType="PCDTO" resultType="int">
		SELECT CNUM
		FROM P_CATEGORY
		WHERE ptype=#{ptype} and pcolor=#{pcolor} and psize=#{psize}		
	</select>
	
	<select id="getPtype" resultType="String">
		SELECT DISTINCT PTYPE
		FROM P_CATEGORY
	</select>
	
	<select id="getColor" resultType="PCDTO" parameterType="String">
		SELECT DISTINCT CNUM, PTYPE, PCOLOR, PSIZE 
		FROM P_CATEGORY
		WHERE ptype=#{ptype}
	</select>
	
	<select id="getSize" resultType="PCDTO" parameterType="String">
		SELECT DISTINCT PSIZE 
		FROM P_CATEGORY
		WHERE ptype=#{ptype}
	</select>
	
	<select id="getSelectedList" resultType="StockDTO" parameterType="map">
		select *
		from stock
		WHERE pnum IN 
		<foreach close=")" open="(" separator="," item="i" collection="chk">#{i} </foreach>
	</select>
	
</mapper>