<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.luna.stock">

	<select id="getAllList" resultType="PBDTO">
		select pseq,pcontent,pdate,ptitle from P_board
	</select>

	<insert id="insertboard" parameterType="PBDTO">
		INSERT INTO P_BOARD(PSEQ, PCONTENT, PDATE, PTITLE)
		VALUES(P_BOARD_SEQ.nextval,#{pcontent},#{pdate}, #{ptitle})
	</insert>


</mapper>









